.footer {
    width: 100%;
    margin-top: auto;
    padding-inline: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    box-shadow: -2px 0 8px 2px #0000001a;
    z-index: 1000;
}

.link {
    text-decoration: none;
    color: #00b0c8; /* Цвет внутри текста */
    text-shadow: /* Обводка текста */
        0.5px 0 #003d46,
        -0.5px 0 #003d46,
        0 0.5px #003d46,
        0 -0.5px #003d46;
}

.link:hover {
    text-shadow:
        /* базовый контур */
        0.5px 0 #003d46,
        -0.5px 0 #003d46,
        0 0.5px #003d46,
        0 -0.5px #003d46,
        /* зелёная дымка #9CFD87 */ 0 0 8px rgba(156, 253, 135, 0.9),
        0 0 18px rgba(156, 253, 135, 0.8),
        0 0 32px rgba(156, 253, 135, 0.7),
        0 0 52px rgba(156, 253, 135, 0.6);
}
