.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    border: none;
    background-color: transparent;
    border-radius: 16px;
    height: 26px;
    transition: box-shadow 0.25s ease;
}

.icon {
    height: fit-content;
    padding: 0;
    gap: 0;
}

@media (hover: hover) {
    .hoverable:hover {
        box-shadow:
            /* зелёная дымка #9CFD87 */
            0 0 8px rgba(var(--glow-color-rgb), 0.9),
            0 0 18px rgba(var(--glow-color-rgb), 0.8),
            0 0 32px rgba(var(--glow-color-rgb), 0.7),
            0 0 52px rgba(var(--glow-color-rgb), 0.6);
    }
}
